VITE_PUBLIC_WEBSITE_SLUG=optimus-manpower
VITE_PUBLIC_WEBSITE_ID=4
VITE_API_BASE_URL=https://manpowerbackend-2rehp.ondigitalocean.app/api
VITE_BLOG_PROXY_URL=/api/blog-public
VITE_ENQUIRY_WEBSITE_SLUG=optimus-manpower
VITE_ENQUIRY_WEBSITE_ID=4
VITE_ENABLE_BLOG_MOCKS=false
